version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 2
    groups:
      prod-dependencies:
        applies-to: version-updates
        patterns:
          - "*"
