{% include 'message' %}


{% if additionalData %}
**Additional Capture Data**

| Name | Value |
|---|---|
{% for data in additionalData %}
|{{ data.name }}|{% if data.output %}`{{ data.output }}`{% endif %}|
{% endfor %}
{% endif %}

{% for group in groups %}
## Group {{ group.name }}

{% for action in group.actions %}
### Action {{group.name}}/{{action.name}}

{% for check in action.check %}
---
Check Command: `{{ check.command }}`

{% if check.output %}
Output:
```text
{{ check.output }}
```

{% endif %}
|Name|Value|
|:---|:---|
| Exit code| `{{ check.exitCode }}` |
| Started at| `{{ check.startTime }}` |
| Finished at| `{{ check.endTime }}` |
{% endfor %}

{% for fix in action.fix %}
---
Fix Command: `{{ fix.command }}`

{% if fix.output %}
Output:
```text
{{ fix.output }}
```

{% endif %}
|Name|Value|
|:---|:---|
| Exit code| `{{ fix.exitCode }}` |
| Started at| `{{ fix.startTime }}` |
| Finished at| `{{ fix.endTime }}` |
{% endfor %}

{% for verify in action.verify %}
---
Verify Command: `{{ verify.command }}`

{% if verify.output %}
Output:
```text
{{ verify.output }}
```

{% endif %}
|Name|Value|
|:---|:---|
| Exit code| `{{ verify.exitCode }}` |
| Started at| `{{ verify.startTime }}` |
| Finished at| `{{ verify.endTime }}` |
{% endfor %}

{% if group.additionalData %}
### Additional Capture Data

| Name | Value |
|---|---|
{% for data in group.additionalData %}
|{{ data.name }}|{% if data.output %}`{{ data.output }}`{% endif %}|
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
