{% if message %}
{{message}}
{% endif %}

{% if additionalData %}
**Additional Capture Data**

| Name | Value |
|---|---|
{% for data in additionalData %}
|{{ data.name }}|`{{ data.output }}`|
{% endfor %}
{% endif %}
