name: Tests

on:
  pull_request:
    paths:
      - '**/*.rs'
      - 'Cargo.*'
      - '**/Cargo.*'
      - 'Cross.toml'
      - '.github/bin/*'
      - '.github/workflows/*'
      - 'rust-toolchain.toml'

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup update
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: cargo build
        run: cargo build
      - name: cargo check
        run: cargo check
      - name: cargo test
        run: cargo test
      - name: check for changes
        run: git diff --quiet && git diff --cached --quiet
      - run: rustup component add rustfmt
      - name: cargo fmt
        run: cargo fmt --all -- --check
      - name: cargo clippy
        run: cargo clippy -- -D warnings
